<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walking in the Yard</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="container">
        <h1>Walking in the Yard</h1>
        
        <div class="btn-container">
            <a href="https://www.ams.org/home/searchresults?q=33+miniatures#gsc.tab=0&gsc.q=33%20miniatures&gsc.page=1" target="_blank">33-Miniatures Book</a>
            <a href="/layman-proof">Layman's Explanation</a>
            <a href="/formal-proof">Formal Proof</a>
        </div>

        <div class="card">
                <h2>Theorem</h2>
                <p>Let \( M \) be an arbitrary set of \( n \) vectors in \( \mathbb{R}^d \) such that the length of each vector \( v \in M \) is at most 1
                     (in Euclidean terms), and the sum of all vectors in \( M \) equals 0. Then, it is possible to arrange all vectors of \( M \) into a sequence \((v_1, v_2, \ldots, v_n)\) 
                     such that the length of the sum of the first \( k \) vectors \((v_1 + v_2 + \ldots + v_k)\) is at most \( d \) for every \( k = 1, 2, \ldots, n\).
                    </p>

        </div>

        <div class="btn-container">
            <a href="/2d">Play Game in 2D</a>
            <a href="/3d">Play Game in 3D</a>
        </div>
    </div>
</body>
</html>
